<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta content="width=device-width" name="viewport"/>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <title>
   Albert Email
  </title>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,300,500,700,900" rel="stylesheet" type="text/css">
   <html>
    <head>
     <style type="text/css">
      @media only screen and (max-width: 600px) {
    a[class="btn"] {
        display: block;
        margin-bottom: 10px;
        background-image: none;
        margin-right: 0
        }
    div[class="column"] {
        width: auto;
        float: none
        }
    table.social div[class="column"] {
        width: auto
        }
    .content {
        padding: 15px 10px
        }
    }
     </style>
    </head>
    <body bgcolor="#F6F6F9" height="100%" style="-webkit-font-smoothing:antialiased; -webkit-text-size-adjust:none; background-color:#F6F6F9; height:100%; margin:0; width:100%" width="100%">
     <!-- BODY -->
     <table cellpadding="0" style="border-collapse:collapse; width:100%" width="100%">
      <tr>
       <td>
       </td>
       <td bgcolor="#FFFFFF" style="clear:both; display:block; margin:0 auto; max-width:600px">
        <div align="center" style="padding-top:40px; text-align:center">
         <img height="90" src="https://meetalbert.com/static/img/emails/AppIcon.ba6da4738168.png" style="max-width:100%" width="90">
         </img>
        </div>
       </td>
       <td>
       </td>
      </tr>
      <tr>
       <td>
       </td>
       <td bgcolor="#FFFFFF" style="clear:both; display:block; margin:0 auto; max-width:600px">
        <div style="display:block; margin:0 auto; max-width:600px; padding:30px 30px 100px 30px">
         <table align="center" style="border-collapse:collapse; text-align:center; width:100%" width="100%">
          <tr>
           <td>
            <h2 align="center" style='color:#000; font-family:"Lato", sans-serif; font-size:30px; font-weight:300; line-height:1.1; margin-bottom:50px; text-align:center'>
             The New Albert Just Launched!
            </h2>
            <p align="center" style='font-family:"Lato", sans-serif; font-size:15px; font-weight:normal; line-height:1.5; margin-bottom:10px; text-align:center'>
             Hey Kyle, there’s a whole lot new inside. Some highlights: Albert Savings support for all U.S. banks, important alerts and tips, cars, a brand new Knowledge Center, and more goodies. Enjoy!
            </p>
           </td>
          </tr>
          <tr>
           <td>
            <br>
             <br>
             </br>
            </br>
           </td>
          </tr>
          <tr>
           <td align="center">
            <a style='color:#2BA6CB; font-family:"Lato", sans-serif'>
             <img src="https://meetalbert.com/static/img/emails/ScreenshotAppv2.png" style="max-width:100%; width:350px" width="350">
             </img>
            </a>
           </td>
          </tr>
          <tr>
           <td>
            <br>
             <br>
             </br>
            </br>
           </td>
          </tr>
          <tr>
           <td>
            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse; width:100%" width="100%">
             <tr>
              <td align="center" bgcolor="#0FB9DA" style="-webkit-border-radius:6px; border-radius:6px">
               <a style='color:#fff; display:inline-block; font-family:"Lato", sans-serif; font-size:18px; font-weight:normal; padding:26px 0; text-decoration:none'>
                OPEN THE APP
               </a>
              </td>
             </tr>
            </table>
           </td>
          </tr>
         </table>
        </div>
        <!-- /content -->
       </td>
       <td>
       </td>
      </tr>
     </table>
     <!-- /BODY -->
     <!-- FOOTER -->
     <table style="border-collapse:collapse; clear:both; width:100%" width="100%">
      <tr>
       <td>
       </td>
       <td style="clear:both; display:block; margin:0 auto; max-width:600px">
        <!-- content -->
        <div style="display:block; margin:0 auto; max-width:600px; padding:30px 30px 100px 30px">
         <table style="border-collapse:collapse; width:100%" width="100%">
          <tr>
           <td align="center">
            <p style='color:#bbb; font-family:"Lato", sans-serif; font-size:12px; font-weight:normal; line-height:1.5; margin-bottom:10px'>
             Copyright © 2016, Albert Corporation
             <br>
              6121 Sunset Blvd, Los Angeles CA, 90028
              <br>
               <br>
                <a style='color:#bbb; font-family:"Lato", sans-serif; text-decoration:none'>
                 Unsubscribe
                </a>
               </br>
              </br>
             </br>
            </p>
           </td>
          </tr>
         </table>
        </div>
        <!-- /content -->
       </td>
       <td>
       </td>
      </tr>
     </table>
     <!-- /FOOTER -->
    </body>
   </html>
  </link>
 </head>
</html>
